# Operators and Expression


You will be learning  the following concepts in this section:
* Basic Arithmetic Operators & Expression
* Comparison Operators & Expression
* Logical Operators & Expression
* Bitwise Operators & Expression

You will also go through Python data types 
    * Numbers
    * Strings & print formatting
    
### Basic Arithmetic Operators

In [ ]:
# addition
5 + 2

In [ ]:
# subtraction
5 - 2

In [ ]:
# multiplication
5 * 2

We can divide them with a forward slash between them (note, two integers are giving floating point in results).<br>

In [ ]:
#Division
5 / 2

To get integer result  we can use double forward slash between them .<br>

In [ ]:
#Integer division
5//2

To get remainder(modulo)of the division use % operator

In [ ]:
#modulo
5%2

We can calculate the power of some number `(exponent)` with two **Asterix** ** together.

In [ ]:
#exponent
5 ** 2

Guess the output of the expression. Run it to see the result

In [3]:
(5+7)*2

24

#### Order of Operations<br>
1.parentheses ()<br>
2.exponents ** <br>
3.multiplication *, division /, and remainder %<br>
4.addition + and subtraction - <br>

In [ ]:
#Assume that we want add 1 & 2 and 3 & 4 and multiply their results to get the result of the expression
#without parentheses
1 + 2 * 3 + 4

**A good practice is to use parentheses `"( )"`** to tell the Python, which operation needs to be performed and clarify the order. <br> 
The operations in the parentheses will be performed first.

In [ ]:
(1 + 2) * (3 + 4)

### String
One of the most popular and useful data types in Python are <b> strings </b>.Strings are used to record text information (e.g. person name) as well as arbitrary collection of bytes (e.g. contents of an image file). <br>
Python accepts <b>single ('), double (") and triple (''' or """) </b>quotes to denote string literals, as long as the same type of quote starts and ends the string.
The triple quotes are used to span the string across multiple lines.

In [ ]:
# creating single quote string
'Hai! Welcome to the world of pyhton programming'

In [ ]:
# creating double quotes string
"Hello! Welcome to the world of PYTHON PROGRAMMING"

In [ ]:
# creating triple quotes string
"""This is a paragraph. It is made up of multiple lines and sentences."""

In [ ]:
# we have lot's of other quotes, let's wrap them in double quotes 
"we have lot's of other quotes, let's wrap them in double quotes"

### Built-in format function

Used to produce a numeric string version of the value containing a specific number of decimal places.

In [4]:
#floating-point values may contain an arbitrary number of decimal places
1/3

0.3333333333333333

In [ ]:
#numeric string version of the value containing a specific number of decimal places
#format specifier '.2f' rounds the result to two decimal places of accuracy in the string produced

format(1/3,'.2f')

In [5]:
#For very large (or very small) values, 'e' can be used as a format specifier
format(2**100,'.6e')

'1.267651e+30'

### Mixed Type operands are converted up
Python first <b><i>converts operands up to the type of the most complicated operand <i><b>, and then performs the math on same-type operands.

In [ ]:
40+3.14

In [ ]:
#You can call built-in functions to convert types manually
int(43.14)

In [ ]:
float(3)

### Variables:
At many occasions, we pick a variable with some name and assign object or a data type to that variable. We can do this in Python using equal sign operator **`“=“`** (Assignment operator). <br>
For example, if we assign a value of 5 to a variable `“x”`. Whenever we call `x`, this will return 5 in the output. <br>

In [7]:
# Let's try x = 5 and y = 3
x = 5
y = 3

In [8]:
# what is x now!
x

5

In [10]:
# what is y now!
y

3

We can perform arithmetic operations using these variable.

In [ ]:
# Adding x and y
x + y

In [ ]:
# Multiplying x and y
x * y

We can perform any arithmetic operation and assign the result to a new variable.

In [ ]:
# Subtraction of the variables and assigning the result to a new variable
z = x - y # 5 - 3

In [ ]:
z

In [ ]:
#variables are created when they are first assigned values
#a

#Variables must be assigned before they can be used in expressions
a=111
a*2

We can **pass a string to a variable** as well

In [ ]:
X = "String"

In [ ]:
X

We can use the **`print()`** method to output the variable `X`. This is a **proper and official way** to display the results in Python.<br>

In [ ]:
print(X)

In [ ]:
#python is dynamic typed language
#same variable can be associated with values of different type during program execution
x=5;x=10.4;x='python'
x


## Comparison Operators:
Comparison Operators allows to compare two elements to each other, such as, **`greater than (>), less than (<), equal to (==), not equal to (!=)`** etc

These operators also return a boolean values (True/False) as the output

In [ ]:
3 > 4

In [ ]:
3 < 4

In [ ]:
2 >= 2

In [ ]:
3 <= 4

In [ ]:
# this is different from =, which is assignment operator 
1 == 1

In [ ]:
# we can compare strings
'Tom' == 'TOM'

In [ ]:
'Tom' != 'Jim'

In [11]:
'Tom' == 'Tom'

True

In [ ]:
#chained comparison
3<4>5   
#equivalent to 3<4 and 4>5

In [ ]:
#you can use variables in the comparison expression
x=3;y=4;z=5
x<y

In [ ]:
#x<y>z chained expression - equivalent to x<y and y>z
x<y>z

In [ ]:
#Guess the result of the expression
1.1+2.2==3.3

In [12]:
#Shouldn't it be true???
#Because it is close to 3.3 but not exactly- precision
1.1+2.2

3.3000000000000003

In [ ]:
#Try this now
int(1.1+2.2)==int(3.3)

## Logic Operators
Let's move on and talk about the logic operations. Logic operators combine multiple conditions using key words **`"and"`** / **`"or"`** operators between conditions.  <br>

For **`"and"`** operator, **all conditions must be satisfied**

In [ ]:
# and operator
(1 < 2) and (2 < 3)
# parentheses are to make the statement more readable only

For **`"or"`** operator, **one conditions must be satisfied**

In [ ]:
# or operator
(1 < 2) or (2 > 3)

In [ ]:
(1 > 2) or (2 > 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

Unary logical operator **`"not"`** reverses the logical state of its operand

In [ ]:
not(1<2)

In [13]:
5 and 5

5

In [14]:
0 and 5

0

In [16]:
bool(-1)

True

In [18]:
bool(10 and 5 )

True

In [19]:
bin(10)

'0b1010'

In [21]:
11&15

11

## Bitwise Operators

**`"&"`- Bitwise AND **<br>
**`"|"`- Bitwise OR **<br>
**`"^"`- Bitwise Exclusive OR **<br>
**`"<<"`- Bitwise Leftshift **<br>
**`">>"`- Bitwise Rightshift **<br>

These operators that treat integers as strings of binary bits and used to deal with network packets, serial ports, or packed binary data

In [ ]:
#Bitwise AND - used to check whether  bit position contains 1
#if both bit values are 1 at a position, then the result is 1 and 0 otherwise
x=1
x&1   #0001 & 0001 = 0001
x

In [23]:
int('0b111',2)

7

In [24]:
b = 5<<1
print(b)

10

In [ ]:
#Bitwise OR - used to set the bit at a particular position 
#if any of the bit value is 1 at a position, then the result is 1 and 0 otherwise
x=1
x|2   #0001 | 0010 = 0011 ==> 3
x

In [ ]:
# Get all inputs
money_In_Hand = int(input('Money in hand'))
cost_of_choc = int(input('Cost of chocolate'))
num_wrappers = int(input('Number of wrappers'))
choc_bought = money_In_Hand//cost_of_choc
'''calculate chocolatesfree and boughtas well'''
free_choc = choc_bought//num_wrappers
tot_choc = choc_bought+free_choc
print(tot_choc)

# Lamda Operator
Used to create small anonymous functions, i.e. functions without a name.

In [ ]:
#lambda args:expression 
ftoc =lambda f: (f-32)*5.0/9
print (ftoc(104))