### Tuples

Sequence of immutable Python objects

#### Difference between Lists and Tuples<br>

<li> Tuples cannot be changed like lists</li>
<li> Tuples use parentheses whereas lists use square brackets</li>

##### Creation of a Tuple<br>
<li>By just putting comma-separated values in a line</li>

<li>By putting comma-separated values between parentheses also</li>

In [ ]:
# Tuple creation just by comma separated values
1,2,3

In [ ]:
# Tuple creation just by comma separated values within parantheses
('apple','banana','orange')

In [ ]:
# empty tuple −

tup1 = ();

In [1]:
# To write a tuple containing a single value you have to include a comma −
a = (50) 			# an integer

tup1 = (50,);		# tuple containing an integer

print('a is', a)

print('tup1 is ',tup1)

a is 50
tup1 is  (50,)

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5 );
tup3 = "a", "b", "c", "d";

In [ ]:
print ("tup1[0]: ", tup1[0]) # print physics

print ("tup2[1:5]: ", tup2[1:5]) # print (2,3,4,5)

In [2]:
# Concatenation 
(1, 2) + (3, 4)

(1, 2, 3, 4)

In [3]:
# Repetition 
(1, 2) * 4

(1, 2, 1, 2, 1, 2, 1, 2)

In [4]:
# Indexing, slicing
T = (1, 2, 3, 4)

In [ ]:
T[0], T[1:3]

In [ ]:
# Indexing, slicing
T = (9, 1, 5, 2, 8, 3, 4)

In [6]:
# result is a list. Tuple T is not modified
tuple(sorted (T))

(1, 2, 3, 4)

In [7]:
L = [x + 20 for x in T]

In [8]:
print(L)

[21, 22, 23, 24]

In [9]:
#Index method can be used to find the position of particular value in the tuple
T.index(2)

1

In [10]:
# Offset of appearance after offset 2 
T.index(2, 2)

ValueError: tuple.index(x): x not in tuple

In [ ]:
# How many 2s are there? 
T.count(2)

In [ ]:
S = T+(2,2)

In [ ]:
S.count(2)

In [1]:
#code to print index of all occurrence of an element in a tuple
tup=()
for i in range(0,5):
    ele = int(input('Enter an element'))
    tup+=(ele,)
print(tup)
search = int(input('Enter element to be searched'))
num_times = tup.count(search)
index_occ = -1
#print(tup.index(search,1))
for i in range(0,num_times):
    index_occ = tup.index(search,index_occ+1)
    print(index_occ)

Enter an element1
Enter an element2
Enter an element1
Enter an element1
Enter an element3
(1, 2, 1, 1, 3)
Enter element to be searched1
0
2
3

### Nested Tuples
Elements in a tuple can be hybrid

In [ ]:
T = (1, [2, 3], 4)

In [ ]:
# fails: can't change tuple itself TypeError: object doesn't support item assignment
T[1] = 'spam'

In [ ]:
# Works: can change mutables inside 
T[1][0] = 'spam'               
T

In [ ]:
# Tuple record 
bob = ('Bob', 40.5, ['dev', 'mgr'])

In [ ]:
# Access by position 
bob[0], bob[2]

In [ ]:
3 in (1,2,3)

In [ ]:
len((1,2,3))

In [ ]:
for x in (1,2,3):
    print(x)

In [ ]:
L = ('spam', 'Spam', 'SPAM!')

In [ ]:
L[2]

In [ ]:
L[-2]

In [ ]:
L[1:]

In [3]:
a,b=3,4
print(a,b)

3 4

In [4]:
tuple1, tuple2 = (123, 'xyz'), (456, 'abc')

In [7]:
print((tuple1,tuple2))

((123, 'xyz'), (456, 'abc'))

In [8]:
print(tuple1+tuple2)

(123, 'xyz', 456, 'abc')

In [ ]:
(tuple1,tuple2)

In [10]:
# When we have numerical tuple:

t1 = (1,2,3,7,4)

print(max(t1)) #prints 7

print(min(t1)) #prints 1

7
1

In [ ]:
#Converts a list into a tuple
t2=tuple([2,4])
t2