## Problem
An University has published the results of the term end examination conducted in April. List of failures in physics, mathematics, chemistry and computer science is available. Write a program to find the number of failures in the examination. This includes the count of failures in one or more subjects

# Sets

* **Set** is an unordered collection of unique and immutable objects that supports operations corresponding to mathematical set theory <br>
* Set is mutable <br>
* No duplicates<br>
* Sets are iterable, can grow and shrink on demand, and may contain a variety of object types<br>
* Does not support indexing<br>

### Creating a set

In [1]:
x = {1, 2, 3, 4}   #creating a set with a collections of items
x

{1, 2, 3, 4}

In [2]:
y = {'apple','ball','cat'}
y

{'apple', 'ball', 'cat'}

In [6]:
x1 = set('spam')  # Prepare set from a string
x1

{'a', 'm', 'p', 's'}

In [7]:
x1.add('q')    # Add a item to the set 
x1

{'a', 'm', 'p', 'q', 's'}

In [10]:
# creating an empty set and add items
s=set()  #set() creats an empty set
s.add('good')
s.add('better')
s.add('best')
s

{'best', 'better', 'good'}

In [12]:
#get 'N' items from the user and add them in the set 
s1=set()
N=int(input())
for i in range(N):
    x=input()
    s1.add(x)
s1

3
21
15
3

{'15', '21', '3'}

### Set operations

In [14]:
#Set Union 
S1 = {1, 2, 3, 4}
S2 = {1, 5, 3, 6} | S1  # | - union operator
S2

{1, 2, 3, 4, 5, 6}

In [16]:
#Set Intersection 
S2 = S1 & {1, 3}  # & - Intersection operator
S2

{1, 3}

In [17]:
#Set Difference
S2 = S1 - {1, 3, 4} # - Difference operator
S2

{2}

In [19]:
# Checcking Super set 
S1 > {1, 3}

True

In [26]:
#set operations can be carried out only on set objects
{1, 2, 3} | [3, 4]
#{1, 2, 3} | set([3, 4])   # converting list to set

TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [66]:
#you can also use methods to do set operations
S1
S1.union([5, 4])   
#S1.intersection([5,4])
#S1.difference([5,4])

#### other operations that modifies the set
S1.difference_update([5,4])  #Removes all elements of set{5,4} in S1- inplace
S1
S1.discard(4)# Removes an element from the set if it is a member and does nothing otherwise
S1
#S1.remove(1)# works like discard but raise KeyError if element is not present
#S1
S1 = {1, 2, 3, 4}
S2 = {5, 6} 
S1.isdisjoint(S2) #returns True if two sets have a null intersection

S1 = {1,2,3,4,5,6}
S2 = {5, 6} 
S1.issubset(S2) # returns True, if S2 contains S1 and False otherwise
S1<S2
S1<=S2

S1.issuperset(S2) #returns True, if S1 contains S2 and False otherwise
S1>=S2

True

In [70]:
#deletes an arbitrary element from the set and returns it
#returns KeyError if the set is empty
S1.pop()
S1

{4, 5, 6}

### Immutable constraints and frozen sets

* Can only contain immutable (a.k.a. “hashable”) object types <br><br>

* lists and dictionaries cannot be embedded in sets, but tuples can be embeeded if you need to store compound values. Tuples compare by their full values when used in set operations<br>

In [34]:
S={10.25}
#S.add([1, 2, 3])  # invalid
#S.add({'a':1})  # invalid
S.add((1, 2, 3)) # valid
S

{10.25, (1, 2, 3)}

In [35]:
S | {(4, 5, 6), (1, 2, 3)}

{10.25, (4, 5, 6), (1, 2, 3)}

In [38]:
(4,5,6) in S  # Check for tuple as a whole
(1,2,3) in S

True

### Frozenset

Sets themselves are mutable too, and so cannot be nested in other sets directly.

If you need to store a set inside another set, the frozenset built-in call works just like set but creates an immutable set that cannot be changed and thus can be embedded in other sets

In [71]:
# create frozenset
cities = frozenset(["Frankfurt", "Basel","Freiburg"])

cities.add("Strasbourg") #cannot modify

AttributeError: 'frozenset' object has no attribute 'add'

In [72]:
# Set Comprehension
{x ** 2 for x in [1, 2, 3, 4]}
#{x for x in 'spam'}
#S = {c * 4 for c in 'spam'}
#S = {c * 4 for c in 'spamham'}
#S | {'mmmm', 'xxxx'}
#S & {'mmmm', 'xxxx'}

{1, 4, 9, 16}

In [ ]:
#solution for the problem
math=set()
phy=set()
che=set()
cs=set()
m_N=int(input())
for i in range(0,m_N):
    val=input()
    math=math|{val}
m_P=int(input())
for i in range(0,m_P):
    val=input()
    phy=phy|{val}
m_C=int(input())
for i in range(0,m_C):
    val=input()
    che=che|{val}
m_CS=int(input())
for i in range(0,m_CS):
    val=input()
    cs=cs|{val}
failure=math|phy|che|cs
print(len(failure))

In [1]:
s1 = input()
s2 = input()
s_s1 = set(s1)
s_s2 = set(s2)
inter = s_s1&s_s2
similarity = 0
for x in inter:
    if s1.count(x)==s2.count(x):
        similarity+=s1.count(x)
    else:
        similarity+=1
print(similarity)

2
2
1